<div class="header u-full-width border-bottom">
  <h1 class="headline">Depot</h1>
  <h3 class="subhead">All of the interactive news projects that I could find</h3>
</div>

<div class="navigation u-full-width border-bottom">
  <ul class="nav-list">
    <li class="nav-item"><%= link_to 'Home', '/' %></li>
    <% data["ind-all"]["meta"].keys.reject{ |k| k == "orgtype" }.each do |k| %>
    <li class="nav-item"><a href="/<%= k %>/index.html"><%= (fixes.has_key? k ) ? fixes[k] : k %></a></li>
    <% end %>
  </ul>
</div>