<% if type == "index" %>

<div class="recent u-full-width">
	<h6 class="heading">Recent Tags</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/tags.html"><span>See all &rarr;</span></a>
</div>

<div class="recent u-full-width">
	<h6 class="heading">Recent Tools</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/toolsused.html"><span>See all &rarr;</span></a>
</div>

<div class="recent u-full-width">
	<h6 class="heading">Recent Projects</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="#"><span>See all &rarr;</span></a>
</div>

<% end %>

<% if type == "tag" %>

<div class="recent u-full-width">
	<h6 class="heading">Recent Subjects</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/subjects.html"><span>See all &rarr;</span></a>
</div>

<div class="recent u-full-width">
	<h6 class="heading">Recent Tools</h6>
	<ul class="link-list">
		<li class="link-item"><a href="#"><span></span></a></li>
	</ul>
	<a class="link overflow" href="/toolsused.html"><span>See all &rarr;</span></a>
</div>

<% end %>