<!-- RELATED :: TAGS -->

<% related_tags = tag_list.map { |r| r["tags"] }.flatten.uniq %>
<% if !related_tags.nil? %>
<section class="border-top related tags">
  <div class="section-inner">
    <h4>Related Tags <span class="entry-count"><%= related_tags.length %></span></h4>
    <ul class="link-list in-columns-two">
      <div class="link-set">
        <% (0..10).each do |i| %>
          <% if !related_tags[i].nil? %>
            <% item = related_tags[i] %>
            <%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => "tags" }) %>
          <% end %>
        <% end %>
        <% (11..20).each do |i| %>
          <% if !related_tags[i].nil? %>
            <% item = related_tags[i] %>
            <%= partial("partials/link_item", :locals => { :slug => sluggify(item), :item => item, :type => "tags" }) %>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>
</section>
<% end %><!-- /END -->