<li class="list-item col-xs-4">
	<div class="list-item-inner">
		<a href="/<%= sluggify(item) %>.html">
			<div class="item-main">
				<h4 class="item-title"><%= item %></h4>
			</div>
		</a>
	</div>
</li>