<% tag_list = data["ind-all"].meta[tag_name].map{ |t| t } %>

<div class="row primary">
	<div class="columns three border-right">
		<%= partial("partials/page_column_left", :locals => { :tag_list => tag_list, :type => "index" }) %>
	</div>
	<div class="columns nine">
		<div class="subheader">
			<h4><%= (fixes.has_key? tag_name ) ? fixes[tag_name].titleize : tag_name.titleize %> </h4>
			<p><%= plural_text(tag_list.length) %></p>
		</div>
		<%= partial("partials/entries_list", :locals => { :tag_list => tag_list, :tag_name => tag_name, :tag => tag }) %>
	</div>
</div>