/*@import 'normalize.css';
@import 'normalize-opentype.css';
@import 'html5-boilerplate.css';
@import 'skeleton';*/

/*font-family: 'Open Sans', sans-serif;*/
/*font-weights: 300,300italic,400,700 */

@font-face {
	font-family: 'kt-sans';
	src: url('../assets/fonts/eau_sans/eau_sans_book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kt-sans-text';
	src: url('../assets/fonts/eau_sans/eau_sans_book_osf.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kt-sans-bold';
	src: url('../assets/fonts/eau_sans/eau_sans_black_lng.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'kt-sans-italic';
	src: url('../assets/fonts/eau_sans/eau_sans_book_obl.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kt-sans-text-bold';
	src: url('../assets/fonts/eau_sans/eau_sans_black_osf.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'kt-sans-text-italic';
	src: url('../assets/fonts/eau_sans/eau_sans_book_osf_obl.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'kt-sans', serif;
	font-weight: 400;
}

ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

p, li, a, span {
	color: #222;
	font-size: 18px;
	line-height: 25px;
}

a {
	color: #009eff;
	text-decoration: none;
}

a:hover {
/*	color: #0069aa;*/
	color: #009eff;
	text-decoration: underline;
}

.wrapper {
	overflow: hidden;
}

.main {
/*	border-top: 8px solid #0069aa;*/
	border-bottom: 8px solid #0069aa;
	padding-bottom: 8em;
}

#back-to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	padding: 20px 15px;
	border-color: #fff;
}

#back-to-top a {
	display: block;
	font-size: 24px;
	margin-top: -13px;
}

#back-to-top a:hover {
	text-decoration: none;
}

#back-to-top:hover {
	background-color: #e2e2e2;
}


/* HEADER 
------------------------------*/

.header {
	padding-top: 4em;
}

.header.border-bottom {
	padding-bottom: 4em;
}

.header .headline {
	color: #222;
	font-family: 'kt-sans-bold', sans-serif;
	font-size: 6rem;
	margin-bottom: 10px;
}

.header .headline:hover {
	color: #0069aa;
	text-decoration: none;
}

.header h1 {
	margin-bottom: 20px;
}

.header h1,
.header .headline,
.header .subhead {
	text-align: center;
}

.header .subhead {
	font-family: 'kt-sans-bold', sans-serif;
	font-size: 2.6rem;
	color: #999;
	margin-bottom: 0;
}

.header .subhead span {
	display: none;
}

/*.header .subhead span.index {
	display: inline;
}*/


/* NAVIGATION
------------------------------*/

.navigation {
	margin-bottom: 4em;
	padding-top: 1em;
}

.main-inner .navigation { overflow: hidden; }

.main-inner ul.nav-list { 
	position: relative;
	float: left;
	width: auto;
	left: 50%;
	padding: 0;
	list-style: none; 
}

.navigation li {
	display: inline;
	float: left;
	margin: 10px;
}

.main-inner li.nav-item { 
	position: relative;
	float: left;
	right: 50%;
	margin: 0 5px; 
}

.navigation li:first-child {
	margin-left: 0;
}

.nav-item a {
	color: #222;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

.nav-item.is-active a {
	font-family: 'kt-sans-bold', sans-serif;
	text-decoration: underline;
}








/* PRIMARY SPACE 
------------------------------*/

.row.primary {
	margin-bottom: 8em;
}


/* SECTION :: ALL
*/

ul.link-set + a.link.overflow,
ul.link-list + a.link.overflow {
	display: inline-block;
	margin-top: 1em;
}

.link.overflow,
.link.overflow span {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}


/* SECTION :: LEFT
------------------------------*/

div.module {
	margin-bottom: 3em;
}

div.module:first-child {
	border-top: 0;
	padding-top: 0;
}

.module .link-item span {
	font-size: 15px;
	margin-bottom: 4em;
}



/* SECTION :: RIGHT
------------------------------*/

.subheader {
	margin-bottom: 4em;
}

.subheader h4 {
	font-size: 4.25rem;
	margin-bottom: 5px;
}

.entry-count {
	font-family: 'kt-sans', sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

section {
	margin-bottom: 4em;
}

section:first-child {
	border-top: 0;
	padding-top: 0;
}

section h4,
.kicker {
	font-family: 'kt-sans-bold', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.link-set .link-item,
.link-set .entry {
	display: inline;
	margin-right: 5px;
}


.link-list.entries li.entry:first-child {
	border-top: 0;
	padding-top: 0;
}

.link-list.entries li.entry {
	margin-bottom: 20px;
	padding: 10px 0;
}

.entries:hover .entry,
.entries:hover .entry span {
	color: #ccc;
}

.entries:hover .entry:hover span {
	color: #009eff;
}

span.comma:after {
	color: #ccc;
	content: ",";
}

.entries:hover .entry:hover span.comma:after {
	color: #ccc;
	content: ",";
	text-decoration: none;
}

.entry h6 {
	margin-bottom: 5px;
}

.entry h6 a span {
	font-family: 'kt-sans-bold', sans-serif;
	font-size: 26px;
	line-height: 35px;
}

.meta.secondary p span {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

span.org-name {
	margin-right: 10px;
}

.meta.secondary p span.org-name + span.date {
	padding-left: 10px;
}


/* PROMPT
------------------------------*/

.prompt.border-top {
	padding-top: 3em;
}

.prompt .subhead {
	font-size: 2.6rem;
	color: #222;
	margin-bottom: 10px;
}

.subheader p,
.prompt p {
	color: #999;
	font-size: 18px;
}



/* FOOTER
------------------------------*/





/* MODIFIERS
------------------------------*/

.border-top {
	border-top: 1px solid #e2e2e2;
	padding-top: 1em;
}

.border-right {
	border-right: 1px solid #e2e2e2;
	padding-right: 1em;
}

.border-bottom {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 1em;
}

.border-left {
	border-left: 1px solid #e2e2e2;
	padding-left: 1em;
}



/*  Columns  */

ul.in-columns-two {
	display: block;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-three {
	display: block;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-four {
	display: block;
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}




@media (max-width: 550px) {
	.main {
		padding-bottom: 4em;
	}
	.row.primary .columns.three {
		display: none;
	}





/*--------     -------------*/

	.header {
		padding-top: 2em;
	}

	.header.border-bottom {
		padding-bottom: 3em;
	}

	.header h1 {
		margin-bottom: 20px;
	}

	.header .headline {
		font-size: 3rem;
	}

	.header .subhead {
		font-size: 2rem;
	}

	.navigation li.nav-item:nth-child(5) {
		margin-left: 0px;
	}

	.navigation li {
		margin: 0px 10px;
	}

	.navigation li.nav-item a {
		font-size: 12px;
	}

	.row.primary {
		margin-bottom: 2em;
	}

	section h4, .kicker {
		font-size: 12px;
	}

	.link-item span {
		font-size: 15px;
	}

	.link.overflow,
	.link.overflow span {
		font-size: 11px;
	}

	.prompt .subhead {
		font-size: 2rem;
		margin-bottom: 5px;
	}

	.prompt p {
		font-size: 15px;
		line-height: 20px;
	}

	#back-to-top {
		right: 10px;
		bottom: 10px;
	}


	.subheader h4 {
		font-size: 2.5rem;
	}

	.link-list.entries li.entry {
		margin-bottom: 10px;
	}

	.entry h6 {
		margin-bottom: 0;
	}

	.entry h6 a span {
		font-size: 18px;
		line-height: 25px;
	}

	.meta.secondary p span {
		font-size: 11px;
	}


}

