/*@import 'normalize.css';
@import 'normalize-opentype.css';
@import 'html5-boilerplate.css';
@import 'skeleton';*/

/*font-family: 'Open Sans', sans-serif;*/
/*font-weights: 300,300italic,400,700 */


body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

p, li, a, span {
	font-size: 18px;
	line-height: 25px;
}


.wrapper {
	overflow: hidden;
}

.main {
	padding-bottom: 8em;
}


/* HEADER 
------------------------------*/

.header {}


/* NAVIGATION
------------------------------*/

.navigation {
	margin-bottom: 4em;
	padding-top: 1em;
}

.navigation li {
	display: inline;
	float: left;
	margin: 10px;
}

.navigation li:first-child {
	margin-left: 0;
}

/* PRIMARY SPACE 
------------------------------*/

.row.primary {
	margin-bottom: 8em;
}



/* SECTION :: LEFT
------------------------------*/





/* SECTION :: RIGHT
------------------------------*/

section {
	margin-bottom: 4em;
}

section:first-child {
	border-top: 0;
	padding-top: 0;
}

.link-set .link-item,
.link-set .entry {
	display: inline;
	margin-right: 5px;
}


.link-list.entries li.entry:first-child {
	border-top: 0;
	padding-top: 0;
}

.link-list.entries li.entry {
	margin-bottom: 20px;
	padding: 10px 0;
}


/* PROMPT
------------------------------*/





/* FOOTER
------------------------------*/




/* MODIFIERS
------------------------------*/

.border-top {
	border-top: 1px solid #e2e2e2;
	padding-top: 1em;
}

.border-right {
	border-right: 1px solid #e2e2e2;
	padding-right: 1em;
}

.border-bottom {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 1em;
}

.border-left {
	border-left: 1px solid #e2e2e2;
	padding-left: 1em;
}



/*  Columns  */

ul.in-columns-two {
	display: block;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-three {
	display: block;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-four {
	display: block;
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}



