/*@import 'normalize.css';
@import 'normalize-opentype.css';
@import 'html5-boilerplate.css';
@import 'skeleton';*/

/*font-family: 'Open Sans', sans-serif;*/
/*font-weights: 300,300italic,400,700 */


body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

p, li, a, span {
	color: #222;
	font-size: 18px;
	line-height: 25px;
}

a {
	color: #009eff;
	text-decoration: none;
}

a:hover {
/*	color: #0069aa;*/
	color: #009eff;
	text-decoration: underline;
}

.wrapper {
	overflow: hidden;
}

.main {
	border-top: 8px solid #0069aa;
	border-bottom: 8px solid #0069aa;
	padding-bottom: 8em;
}

#back-to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	padding: 20px 15px;
	border-color: #fff;
}

#back-to-top a {
	display: block;
	font-size: 24px;
	margin-top: -13px;
}

#back-to-top a:hover {
	text-decoration: none;
}

#back-to-top:hover {
	background-color: #e2e2e2;
}


/* HEADER 
------------------------------*/

.header {
	padding-top: 8em;
	border-top: 8px solid #009eff;
	margin-top: -8px;
}

.header.border-bottom {
	padding-bottom: 4em;
}

.header .headline {
	font-size: 6rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.header .subhead {
	font-size: 2.6rem;
	font-weight: 500;
	color: #999;
	margin-bottom: 0;
}

.header .subhead span {
	display: none;
}

/*.header .subhead span.index {
	display: inline;
}*/


/* NAVIGATION
------------------------------*/

.navigation {
	margin-bottom: 4em;
	padding-top: 1em;
}

.navigation li {
	display: inline;
	float: left;
	margin: 10px;
}

.navigation li:first-child {
	margin-left: 0;
}

.nav-item a {
	color: #222;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

/* PRIMARY SPACE 
------------------------------*/

.row.primary {
	margin-bottom: 8em;
}


/* SECTION :: ALL
*/

ul.link-set + a.link.overflow,
ul.link-list + a.link.overflow {
	display: inline-block;
	margin-top: 1em;
}

.link.overflow,
.link.overflow span {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}


/* SECTION :: LEFT
------------------------------*/

div.module {
	margin-bottom: 3em;
}

div.module:first-child {
	border-top: 0;
	padding-top: 0;
}

.module .link-item span {
	font-size: 15px;
	margin-bottom: 4em;
}



/* SECTION :: RIGHT
------------------------------*/

.subheader {
	margin-bottom: 4em;
}

.subheader h4 {
	font-size: 4.25rem;
	margin-bottom: 5px;
}

.entry-count {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

section {
	margin-bottom: 4em;
}

section:first-child {
	border-top: 0;
	padding-top: 0;
}

section h4,
.kicker {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.link-set .link-item,
.link-set .entry {
	display: inline;
	margin-right: 5px;
}


.link-list.entries li.entry:first-child {
	border-top: 0;
	padding-top: 0;
}

.link-list.entries li.entry {
	margin-bottom: 20px;
	padding: 10px 0;
}

.entries:hover .entry,
.entries:hover .entry span {
	color: #ccc;
}

.entries:hover .entry:hover span {
	color: #009eff;
}

.entry h6 {
	margin-bottom: 5px;
}

.entry h6 a span {
	font-size: 26px;
	font-weight: 700;
	line-height: 35px;
}

.meta.secondary p span {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
}

span.org-name {
	margin-right: 10px;
}

.meta.secondary p span.org-name + span.date {
	padding-left: 10px;
}


/* PROMPT
------------------------------*/

.prompt.border-top {
	padding-top: 3em;
}

.prompt .subhead {
	font-size: 2.6rem;
	font-weight: 500;
	color: #222;
	margin-bottom: 10px;
}

.prompt p {
	color: #999;
}



/* FOOTER
------------------------------*/





/* MODIFIERS
------------------------------*/

.border-top {
	border-top: 1px solid #e2e2e2;
	padding-top: 1em;
}

.border-right {
	border-right: 1px solid #e2e2e2;
	padding-right: 1em;
}

.border-bottom {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 1em;
}

.border-left {
	border-left: 1px solid #e2e2e2;
	padding-left: 1em;
}



/*  Columns  */

ul.in-columns-two {
	display: block;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-three {
	display: block;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}

ul.in-columns-four {
	display: block;
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;

	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
}




@media (max-width: 550px) {
	.main {
		padding-bottom: 4em;
	}
	.row.primary .columns.three {
		display: none;
	}
}

