<!--   ABOUT PAGE :: HEADER   -->

<section class="page__header">
  <div class="column column--10 column--wrap">
    <div class="page">
      <h1 class="page__headline page__headline--xlarge">About</h1><!--  .page__headline.page__headline--large  -->
      <div class="page__wrap__text">
        <div class="meta">
          <ul class="meta__list">
            <li class="meta__list__item"><span id="meta-word-count" class="meta__list__item__text">400 words</span></li><!--   .meta__list__item   -->
          </ul><!--  .meta__list  -->
        </div><!--  .meta  -->
      </div><!--  .page__wrap__text  -->
    </div><!--  .page  -->
  </div><!--  .column.column--10  -->
</section><!--  .header  -->


